# 데이터베이스 연결 및 쿼리 실행

In [ ]:
import sqlite3

conn = sqlite3.connect('ex1.db')
c = conn.cursor()

c.execute('''CREATE TABLE books (id integer, title text, price integer)''')

c.execute('''INSERT INTO books VALUES (1, 'python 가이드', 5000)''')
c.execute('''INSERT INTO books VALUES (2, 'js 가이드', 5000)''')

conn.commit()
conn.close()

# 데이터 조회

In [ ]:
conn = sqlite3.connect('ex1.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(1, 'python 가이드', 5000)
(2, 'js 가이드', 5000)

# 데이터 수정

In [ ]:
import sqlite3

conn = sqlite3.connect('ex2.db')
c = conn.cursor()

c.execute('''CREATE TABLE books (id integer, title text, price integer)''')

c.execute('''INSERT INTO books VALUES (1, 'python 가이드', 5000)''')

for i in range(10):
    c.execute(f"INSERT INTO books VALUES ({i}, 'js 가이드', {i*1000})")

conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect('ex2.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(0, 'js 가이드', 0)
(1, 'python 가이드', 5000)
(1, 'js 가이드', 1000)
(2, 'js 가이드', 2000)
(3, 'js 가이드', 3000)
(4, 'js 가이드', 4000)
(5, 'js 가이드', 5000)
(6, 'js 가이드', 6000)
(7, 'js 가이드', 7000)
(8, 'js 가이드', 8000)
(9, 'js 가이드', 9000)

# 3

In [ ]:
## 실습 3
import sqlite3

data = {
    'id': [1, 2, 3],
    'title': ['1', '2', '3'],
    'content': ['11', '22', '33', '44', '55']
}

# 데이터베이스에 연결
conn = sqlite3.connect('ex3.db')

# 커서 생성
cursor = conn.cursor()

# post 테이블 생성
cursor.execute('CREATE TABLE post (id INTEGER, title TEXT, content TEXT)')

# 데이터 삽입
for i in range(len(data['id'])):
    cursor.execute('INSERT INTO post VALUES (?, ?, ?)', (data['id'][i], data['title'][i], data['content'][i]))

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

In [ ]:
conn = sqlite3.connect('ex3.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM post'):
    print(row)

# 연결 종료
conn.close()

(1, '1', '11')
(2, '2', '22')
(3, '3', '33')

# 4

In [ ]:
# 여기까지 되었다면 데이터 (크롤링 데이터, JSON 데이터, CSV 데이터)를 가지고서
# 1. 직접 퀴리를 사용 해서 Django DB에 넣는 것이 가능하다.
# 2. db load를 사용해서 Django DB에 넣는것이 가능
# 3. ORM을 사용해서 넣는것도 가능

In [ ]:
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

# 데이터 조회(데이터가 없어서 안나옵니다.)
for row in c.execute('SELECT * FROM blog_movie'):
    print(row)

# 데이터 조회(데이터가 있어 나옵니다.)
for row in c.execute('SELECT * FROM blog_post'):
    print(row)

# 연결 종료
conn.close()

(1, '1', '11', 'blog/images/2023/10/23/image.png', '', '2023-10-23 04:16:06.828523', '2023-10-23')
(2, '2', '22', '', '', '2023-10-23 04:16:10.336227', '2023-10-23')
(3, '3', '33', '', '', '2023-10-23 04:16:13.286429', '2023-10-23')
(4, 'hi4', '44', '', '', '2023-10-23 04:43:52.197941', '2023-10-23')

# 크롤링

In [ ]:
import requests
from bs4 import BeautifulSoup

paullab_url = 'http://paullab.co.kr'
response = requests.get(paullab_url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

lecture_list = soup.select('.lecture ')        # lecture 클래스 탐색
print(dir(lecture_list))
for lecture in lecture_list:
    print(lecture.text)

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort', 'source']

In [ ]:
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

# 데이터 조회(데이터가 없어서 안나옵니다.)
for row in c.execute('SELECT * FROM blog_movie'):
    print(row)

# 데이터 조회(데이터가 있어 나옵니다.)
for row in c.execute('SELECT * FROM blog_post'):
    print(row)

# 연결 종료
conn.close()

(1, '1', '11', 'blog/images/2023/10/23/image.png', '', '2023-10-23 04:16:06.828523', '2023-10-23')
(2, '2', '22', '', '', '2023-10-23 04:16:10.336227', '2023-10-23')
(3, '3', '33', '', '', '2023-10-23 04:16:13.286429', '2023-10-23')
(4, 'hi4', '44', '', '', '2023-10-23 04:43:52.197941', '2023-10-23')

In [ ]:
import requests
from bs4 import BeautifulSoup

url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')
data = []

# book_list = soup.select('.book_name, .book_info')        # lecture 클래스 탐색
book_list = soup.select('.book_name')        # lecture 클래스 탐색
for lecture in book_list:
    data.append([lecture.text, 10])

# print(type(data))
data

[['메모혁신 Notion(노션) 활용 가이드', 10],
 ['이력서 작성 가이드', 10],
 ['제주코딩베이스캠프 Code Festival: Python 100제 1부', 10],
 ['튜토리얼로 배우는 HTML&CSS', 10],
 ['코딩도장 튜토리얼로 배우는 Python 1편 object', 10],
 ['코딩도장 튜토리얼로 배우는 python 2편 제어문', 10],
 ['코딩도장 튜토리얼로 배우는 Python 문제풀이', 10],
 ['타노스의 건틀릿 알고리즘 With Python', 10],
 ['xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍', 10],
 ['러플 튜토리얼로 배우는 Python', 10],
 ['인공지능을 활용한 업무자동화 With Google Developers Group JEJU', 10]]

In [ ]:
import sqlite3

# 데이터베이스에 연결
conn = sqlite3.connect('db.sqlite3')

# 커서 생성
cursor = conn.cursor()

# 데이터 삽입
for i in range(len(data)):
    cursor.execute(f'INSERT INTO blog_movie VALUES ({i+1}, "{data[i][0]}", {data[i][1]})')

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

OperationalError: ignored

In [ ]:
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM blog_movie'):
    print(row)

# 연결 종료
conn.close()

(1, '메모혁신 Notion(노션) 활용 가이드', 10)
(2, '이력서 작성 가이드', 10)
(3, '제주코딩베이스캠프 Code Festival: Python 100제 1부', 10)
(4, '튜토리얼로 배우는 HTML&CSS', 10)
(5, '코딩도장 튜토리얼로 배우는 Python 1편 object', 10)
(6, '코딩도장 튜토리얼로 배우는 python 2편 제어문', 10)
(7, '코딩도장 튜토리얼로 배우는 Python 문제풀이', 10)
(8, '타노스의 건틀릿 알고리즘 With Python', 10)
(9, 'xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍', 10)
(10, '러플 튜토리얼로 배우는 Python', 10)
(11, '인공지능을 활용한 업무자동화 With Google Developers Group JEJU', 10)

# 과제

In [ ]:
conn = sqlite3.connect('output.json')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM blog_book'):
    print(row)

# 연결 종료
conn.close()

In [ ]:
import requests
from bs4 import BeautifulSoup
import sqlite3
import json

url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')
data = []

book_items = soup.select('.book_detail')
for id, book_item in enumerate(book_items, start=1):
    title = book_item.select_one('.book_name').text.strip()
    price = book_item.select('.book_info')[0].text.strip()
    author = book_item.select('.book_info')[1].text.strip()
    data.append({'t' : title, 'p' : price, 'a' : author})
# print(data[0:3])
# print(len(data[4:]))
# data[4:]

data
print(type(data))

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('''CREATE TABLE blog_book (id integer, title text, price integer, author text)''')

# 데이터 삽입
for i in range(len(data)):
        c.execute(f"(INSERT INTO blog_book VALUES ({i+1}, ('t'[i][0]), ('p'[i][1]), ('a'[i][2]))")

conn.commit()
conn.close()

# with open('output.json', 'w', encoding='utf-8') as f:
#     json.dump(data, f)

<class 'list'>

OperationalError: ignored

In [ ]:
import requests
from bs4 import BeautifulSoup

url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')
data = []

book_items = soup.select('.book_detail')
for id, book_item in enumerate(book_items, start=1):
    title = book_item.select_one('.book_name').text.strip()
    price = book_item.select('.book_info')[0].text.strip()
    author = book_item.select('.book_info')[1].text.strip()
    data.append({"id": id, "title": title, "price": price, "author": author})
date

# 데이터베이스에 연결
conn = sqlite3.connect('homework4.db')

# 커서 생성
cursor = conn.cursor()

# post 테이블 생성
cursor.execute('CREATE TABLE post (id INTEGER, title TEXT, price INTEGER, author TEXT)')

# 데이터 삽입
for item in data:
    cursor.execute('INSERT INTO post VALUES (?, ?, ?, ?)', (item['id'], item['title'], item['price'], item['author']))

# 커밋(변경 사항 저장)
conn.commit()

cursor.execute('SELECT * FROM post')
rows = cursor.fetchall()
column_names = [column[0] for column in cursor.description]
data = [dict(zip(column_names, row)) for row in rows]
with open('output.json', 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False, indent=4)
conn.close()

[{'id': 1,
  'title': '메모혁신 Notion(노션) 활용 가이드',
  'price': '가격: 7,000원',
  'author': '저자: 이호준, 이준호, 김혜원, 김유진, 차경림, 김진, 현지연, 정승한'},
 {'id': 2,
  'title': '이력서 작성 가이드',
  'price': '가격: 10,000원',
  'author': '저자: 강혜진, 김유진, 김혜원, 김진, 이범재, 이호준, 원유선, 박누리, 차경림, 최원범, 한재현'},
 {'id': 3,
  'title': '제주코딩베이스캠프 Code Festival: Python 100제 1부',
  'price': '가격: 무료',
  'author': '저자: 이호준, 강민정, 김유진, 정윤하, 최원범'},
 {'id': 4,
  'title': '튜토리얼로 배우는 HTML&CSS',
  'price': '가격: 4,900원',
  'author': '저자: 이호준, 박민균, 양지혜, 정민준, 박소영, 전유빈'},
 {'id': 5,
  'title': '코딩도장 튜토리얼로 배우는 Python 1편 object',
  'price': '가격: 3,000원',
  'author': '저자: 이호준, 정민준, 배희성, 김덕주, 한승협'},
 {'id': 6,
  'title': '코딩도장 튜토리얼로 배우는 python 2편 제어문',
  'price': '가격: 4,900원',
  'author': '저자: 이호준, 우지훈, 박소영, 허재영'},
 {'id': 7,
  'title': '코딩도장 튜토리얼로 배우는 Python 문제풀이',
  'price': '가격: 무료',
  'author': '저자: 이호준, 전유빈, 김태범, 한승협, 김혜원, 강민정'},
 {'id': 8,
  'title': '타노스의 건틀릿 알고리즘 With Python',
  'price': '가격: 무료',
  'author': '저자: 이호준, 한승협, 강민정, 신민욱'},
 {'id': 9,
  'title': 'xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍',
  'price': '가격: 무료',
  'author': '저자: 이호준, 강상권, 오재원, 전진환, 문형철, 이현창'},
 {'id': 10,
  'title': '러플 튜토리얼로 배우는 Python',
  'price': '가격: 4,900',
  'author': '저자: 이호준, 배희성, 양지혜, 박소영, 김수연, 정민준'},
 {'id': 11,
  'title': '인공지능을 활용한 업무자동화 With Google Developers Group JEJU',
  'price': '가격: 무료',
  'author': '저자: 이호준, 이준호, 현암, 윤현담, 김루비, 이동민, 유승엽, 박서윤, 김채린, 한승협, 안상우, 장성원, 전진환, 강민성, 조민구, 전창삼'}]

In [ ]:
import requests
from bs4 import BeautifulSoup
import sqlite3
import json

url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')
book_data = []

book_items = soup.select('.book_detail')
for id, book_item in enumerate(book_items, start=1):
    title = book_item.select_one('.book_name').text.strip()
    price_info_element = book_item.select('.book_info')[0]
    author_info_element = book_item.select('.book_info')[1]

    price = None if price_info_element is None else price_info_element.text.strip()
    author = None if author_info_element is None else author_info_element.text.strip()

    # 이제 각 책의 정보를 딕셔너리 형태가 아닌 문자열로 저장합니다.
    book_data.append(f"{ {title}, {price}, {author} }")

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('''CREATE TABLE blog_book (id integer, info text)''')

# 데이터 삽입
for i in range(len(book_data)):
        c.execute(f'INSERT INTO blog_movie VALUES (({i+1}, {book_data[i]})')

conn.commit()
conn.close()

# JSON 파일로 저장하기 위한 처리.
with open('data.json', 'w', encoding='utf-8') as f:
    json.dump(book_data, f)

OperationalError: ignored